<div class="container">
  <h1>Details</h1>

  <h4>Edit Department</h4>
  <hr />
  <form>
    <div class="form-group">
      <label for="Name">Name</label>
      <input
        #name
        type="text"
        name="name"
        class="form-control"
        id="Name"
        [value]="Department.name"
        placeholder="Enter Name"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        #description
        name="description"
        type="text"
        class="form-control"
        id="description"
        [value]="Department.description"
        placeholder="Enter Description"
      />
    </div>
  </form>
  <div class="form-group">
    <input
      type="button"
      class="btn btn-primary"
      value="Apply Changes"
      (click)="update(name.value, description.value)"
    />
  </div>
  <div>
    <a routerLink="/Departments" class="btn btn-outline-dark">Back to List</a>
  </div>
</div>
