<div class="container">
  <h1>Details</h1>

  <h4>Edit Student</h4>
  <hr />
  <form>
    <div class="form-group">
      <label for="Name">Name</label>
      <input
        #name
        type="text"
        name="name"
        class="form-control"
        id="Name"
        value="{{ student.name }}"
        placeholder="Enter Name"
      />
    </div>
    <div class="form-group">
      <label for="Age">Age</label>
      <input
        #age
        name="age"
        type="number"
        class="form-control"
        id="Age"
        value="{{ student.age }}"
        placeholder="Enter Age"
      />
    </div>
    <div class="form-group">
      <label for="DepartmentName">Department</label>
      <select
        #deptID
        name="deptID"
        id="DepartmentName"
        class="form-control"
        [value]="student.deptName"
      >
        @for(Department of Departments; track Department.id){

        <option
          [value]="Department.id"
          [selected]="student.deptName == Department.name"
        >
          {{ Department.name }}
        </option>
        }
      </select>
    </div>
    <div class="form-group">
      <label for="Address">Address</label>
      <input
        #address
        type="text"
        name="address"
        class="form-control"
        id="Address"
        value="{{ student.address }}"
        placeholder="Enter Address"
      />
    </div>
    <div class="form-group">
      <label for="birthDate">BirthDate</label>
      <input
        #birthDate
        name="birthDate"
        type="date"
        class="form-control"
        id="birthDate"
        [value]="getFormattedDate()"
      />
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input
        #image
        type="text"
        name="image"
        class="form-control"
        id="image"
        value="{{ student.image }}"
        placeholder="Enter Image"
      />
    </div>
  </form>
  <div class="form-group">
    <input
      type="button"
      class="btn btn-primary"
      value="Apply Changes"
      (click)="
        update(
          name.value,
          age.value,
          deptID.value,
          address.value,
          birthDate.value,
          image.value
        )
      "
    />
  </div>
  <div>
    <a routerLink="/Students" class="btn btn-outline-dark">Back to List</a>
  </div>
</div>
